# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [2]:
import pandas as pd
import numpy as np

# Seu código aqui
anos = list(range(1900, 2022, 20))
anom_termica = (-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02)

serie_anom = pd.Series(anom_termica)

serie_anom

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [3]:
# seu código aqui
serie_anom = pd.Series(anom_termica,
                      index=anos)
serie_anom

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [16]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
ser_temperaturas = pd.Series(dic_temperaturas)
ser_temperaturas

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [20]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
arr_dt = pd.DataFrame(arr)
print(arr_dt)

             0           1           2
0   100.672259   94.951093   87.378289
1   122.576274  102.915071  112.539611
2   104.053077  101.939949   89.774298
3   100.713383  120.299123   94.629271
4   112.690290  108.883792   95.224719
5    86.359223   97.550024  112.976859
6    99.857798  103.887809  103.270874
7   111.340523   85.451728  103.080356
8    93.997029   95.128811   97.739736
9   118.876332   65.064631   78.530337
10  104.795612   94.383163  117.409564
11  101.298513  105.243621   81.945209
12  112.497239  124.807448   97.126327
13  101.538620  110.564707  109.698868
14  115.550412  110.788399   96.480504
15  103.476163  103.517233   91.158476
16  112.166886   95.822038  108.134592
17   97.739663   94.923974   89.588404
18   83.325654   92.473623  103.227801
19   93.243691  103.035742   94.103600

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [27]:
#seu código aqui
arr_dt.columns=('x1', 'x2', 'x3')
arr_dt.index=(range(1, 21, 1))
arr_dt

            x1          x2          x3
1   100.672259   94.951093   87.378289
2   122.576274  102.915071  112.539611
3   104.053077  101.939949   89.774298
4   100.713383  120.299123   94.629271
5   112.690290  108.883792   95.224719
6    86.359223   97.550024  112.976859
7    99.857798  103.887809  103.270874
8   111.340523   85.451728  103.080356
9    93.997029   95.128811   97.739736
10  118.876332   65.064631   78.530337
11  104.795612   94.383163  117.409564
12  101.298513  105.243621   81.945209
13  112.497239  124.807448   97.126327
14  101.538620  110.564707  109.698868
15  115.550412  110.788399   96.480504
16  103.476163  103.517233   91.158476
17  112.166886   95.822038  108.134592
18   97.739663   94.923974   89.588404
19   83.325654   92.473623  103.227801
20   93.243691  103.035742   94.103600

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [31]:
# seu código aqui
arr_dt['media'] = (arr_dt['x1'] + arr_dt['x2'] + arr_dt['x3']) / 3
arr_dt

            x1          x2          x3       Media       media
1   100.672259   94.951093   87.378289   94.333880   94.333880
2   122.576274  102.915071  112.539611  112.676985  112.676985
3   104.053077  101.939949   89.774298   98.589108   98.589108
4   100.713383  120.299123   94.629271  105.213926  105.213926
5   112.690290  108.883792   95.224719  105.599600  105.599600
6    86.359223   97.550024  112.976859   98.962035   98.962035
7    99.857798  103.887809  103.270874  102.338827  102.338827
8   111.340523   85.451728  103.080356   99.957536   99.957536
9    93.997029   95.128811   97.739736   95.621859   95.621859
10  118.876332   65.064631   78.530337   87.490433   87.490433
11  104.795612   94.383163  117.409564  105.529446  105.529446
12  101.298513  105.243621   81.945209   96.162448   96.162448
13  112.497239  124.807448   97.126327  111.477005  111.477005
14  101.538620  110.564707  109.698868  107.267398  107.267398
15  115.550412  110.788399   96.480504  107.606439  107.606439
16  103.476163  103.517233   91.158476   99.383958   99.383958
17  112.166886   95.822038  108.134592  105.374505  105.374505
18   97.739663   94.923974   89.588404   94.084014   94.084014
19   83.325654   92.473623  103.227801   93.009026   93.009026
20   93.243691  103.035742   94.103600   96.794344   96.794344

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [42]:
# seu código aqui
import math

arr_dt['log_media'] = np.log(arr_dt['media'])

In [43]:
arr_dt

            x1          x2          x3       Media       media  log_media
1   100.672259   94.951093   87.378289   94.333880   94.333880   4.546840
2   122.576274  102.915071  112.539611  112.676985  112.676985   4.724525
3   104.053077  101.939949   89.774298   98.589108   98.589108   4.590961
4   100.713383  120.299123   94.629271  105.213926  105.213926   4.655996
5   112.690290  108.883792   95.224719  105.599600  105.599600   4.659655
6    86.359223   97.550024  112.976859   98.962035   98.962035   4.594736
7    99.857798  103.887809  103.270874  102.338827  102.338827   4.628289
8   111.340523   85.451728  103.080356   99.957536   99.957536   4.604745
9    93.997029   95.128811   97.739736   95.621859   95.621859   4.560401
10  118.876332   65.064631   78.530337   87.490433   87.490433   4.471529
11  104.795612   94.383163  117.409564  105.529446  105.529446   4.658990
12  101.298513  105.243621   81.945209   96.162448   96.162448   4.566039
13  112.497239  124.807448   97.126327  111.477005  111.477005   4.713818
14  101.538620  110.564707  109.698868  107.267398  107.267398   4.675325
15  115.550412  110.788399   96.480504  107.606439  107.606439   4.678480
16  103.476163  103.517233   91.158476   99.383958   99.383958   4.598991
17  112.166886   95.822038  108.134592  105.374505  105.374505   4.657521
18   97.739663   94.923974   89.588404   94.084014   94.084014   4.544188
19   83.325654   92.473623  103.227801   93.009026   93.009026   4.532697
20   93.243691  103.035742   94.103600   96.794344   96.794344   4.572589